<div class="container">
    <h3> Registration </h3> <br>
    <form (ngSubmit)="onSubmit()" [formGroup]="registrationForm">
      <div class="form-group p-2">
        Username
        <input type="text" [ngClass]="{'error': isSubmitted && registrationForm.controls['username'].invalid}" class="form-control" formControlName="username">
      </div>
      <div class="form-group p-2">
        Password
        <input type="password" [ngClass]="{'error': isSubmitted && registrationForm.controls['password'].invalid}" class="form-control" formControlName="password">
      </div>
      <div class="form-group p-2">
        Age
        <input type="text" [ngClass]="{'error': isSubmitted && registrationForm.controls['age'].invalid}" class="form-control" formControlName="age">
      </div>
      <button class="btn btn-primary" type="submit">
        Sign up
      </button>
    </form>
  
  </div>